/*? global clearing */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


:root {
    --background: #101114;
    --primary-color: #1FAB89;
    --secondary-color: #62D2A2;
    --third-color: #9DF3C4;
    --forth-color: #D7FBE8;
    --a-c: #00ffc4;
    --text-color: #f9f9f9;
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: var(--background);
    padding: 7px;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

nav {
    text-transform: uppercase;
    overflow: hidden;
    background-color: var(--text-color);
    margin-bottom: 20px;
}

nav a {
    float: left;
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: var(--forth-color);
    color: var(--background);
}

nav a.active {
    background-color: var(--a-c);
    color: #000000;
}

nav .icon {
    display: none;
}

.btn {
    margin-top: 16px;
    border: none;
    padding: 12px;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo {
    display: flex;
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    list-style: none;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
}

.delete-button {
    padding: 5px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button:hover {
    color: #ff0033;
    transition: 200ms ease;
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -ms-transition: 200ms ease;
    -o-transition: 200ms ease;
}

.custom-checkbox {
    border: 2px solid var(--a-c);
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 77px;
    -webkit-border-radius: 77px;
    -moz-border-radius: 77px;
    -ms-border-radius: 77px;
    -o-border-radius: 77px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--a-c);
}

#todo-input:focus {
    outline: none;
}

form {
    position: relative;
}

#add-button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--a-c);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 77px;
    -webkit-border-radius: 77px;
    -moz-border-radius: 77px;
    -ms-border-radius: 77px;
    -o-border-radius: 77px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}


/* MEDIA QUERY */

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    nav.responsive { position: relative; }
    nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}